:root{
  --bg : #F5F1ED;
  --input : #252323;
}

body{
  background-color: var(--bg);
  color: var(--input);
}


.container{
  padding-top: 2rem;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  min-height: 100vh;
}

.container h1{
  font-size: 4.5rem;
}

.animatedBtn{
  cursor: pointer;
  position: relative;
  background-color: var(--bg);
  border: 1px solid var(--input);
  outline: none;
  font-size: 2rem;
  padding: 0.6rem 1.4rem;
  border-radius: 0.9rem;
  z-index: 2;
  transition: all 0.3s;
  overflow: hidden;
}

.animatedBtn::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--input);
  top: -100%;
  left: 0;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s;
}

.animatedBtn:hover{
  color: var(--bg);
}

.animatedBtn:hover::after{
  top: 0;
  border-radius: 0;
}

.gameContainer{
  position: relative;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.box{
  background-color: var(--bg);
  border: 2px solid var(--input);
  cursor: pointer;
  font-size: 2rem;
}

.box:hover{
  background-color: #dad5d5;
}

.box:disabled{
  color: black;
  cursor: not-allowed;
  background-color: #dad5d5;
}

.box:focus-visible{
  outline: none;
  background-color: #dad5d5;
}

.msg, .score{
  font-size: 2rem;
  font-weight: 600;
}

.score{
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.github-btn{
  position: relative;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 1.2rem;
  align-items: center;
  background-color: var(--bg);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all ease 0.6s;
  overflow: hidden;
}

.github-btn img{
  position: absolute;
  width: 50px;
  height: 50px;
  transition: all ease 0.3s;
}

.github-btn span{
  opacity: 0;
  padding-right: 1rem;
  color: white;
}

.github-btn:hover{
  background-color: var(--input);
  width: 180px;
  border-radius: 1rem;
}

.github-btn:hover img{
  filter: invert();
  position:static;
}
.github-btn:hover span{
  opacity: 1;
}

@media (max-width: 642px) {
  .container{
    width: 100%;
  }

  .container{
    padding: 1rem 1rem;
  }

  .container h1{
    font-size: 4rem;
  }

  .score{
    width: 100%;
  }
}

